ALL_NFTS_PINECONE_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ETHERUEM_NODE=
HASHED_PASSWORD=
MONGO_DB_URL=
PINECONE_API_KEY=
SERVER_SECRET=
TASK_QUEUE_SQS_URL=
TASK_QUEUE_SQS_URL_DEVELOPMENT=